<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/src/output.css">
    <title>khabgah</title>
</head>

<body>
<div class="w-full flex flex-col items-center">
    <!--start header-->
    <header class="w-full">
        <nav class="bg-blue-950 border-gray-200 px-4 lg:px-6 py-2.5 ">
            <div class="flex flex-nowrapwrap justify-between items-center mx-auto max-w-screen-xl ">
                <div class="flex items-center lg:order-2">
                     <a href="/"
                            class="text-white  hover:text-gray-300 hover:border-white focus:ring-4 focus:border focus:border-white font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 text-nowrap">
                            خانه</a>
                   <a href="/register/"
                            class="text-white  hover:text-gray-300 hover:border-white focus:ring-4 focus:border focus:border-white font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 text-nowrap">فرم
                            درخواست خوابگاه</a>
                         <a href="/follow"
                            class="text-white  hover:text-gray-300 hover:border-white focus:ring-4 focus:border focus:border-white font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 text-nowrap">فرم
                            پیگیری درخواست</a>

                </div>

            </div>
        </nav>
    </header>
{% for item1 in messages %}
    {{ item1 }}
{% endfor %}
    <!--end of header-->
    <div class="flex flex-col items-center justify-center bg-gray-100 w-full h-full">
        <h1 class="font-bold text-2xl my-10">فرم درخواست خوابگاه</h1>
        <!--test login form-->

        <form  method="post" action="{% url 'register_' %}" class="w-full px-20" dir="rtl">
        {% csrf_token %}
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="first_name"
                           class="block mb-2 text-sm font-medium text-gray-900 ">نام</label>
                    <input type="text" id="first_name" name="first_name"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                           required/>
                </div>
                <div>
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 ">نام خانوادگی</label>
                    <input type="text" id="last_name" name="last_name"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required/>
                </div>
                <div>
                    <label for="company"
                           class="block mb-2 text-sm font-medium text-gray-900 ">کد ملی</label>
                    <input type="text" id="company" name="nation_code"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required/>
                </div>
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">شماره تلفن</label>
                    <input type="tel" id="phone" name="phone"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                           placeholder="09*********"  required/>
                </div>
             <div>
                    <label for="company"
                           class="block mb-2 text-sm font-medium text-gray-900 ">شماره دانشجویی</label>
                    <input type="text" id="company" name="student_code"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required/>
                </div>
                <div>
                    <label for="website"
                           class="block mb-2 text-sm font-medium text-gray-900 ">ورودی سال</label>
                    <input  id="website" name="grade"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required/>
                </div>
             <div>
                    <label for="website"
                           class="block mb-2 text-sm font-medium text-gray-900 ">رشته</label>
                    <input  id="website" name="field"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required/>
                </div>
            <div>
                    <label for="website"
                           class="block mb-2 text-sm font-medium text-gray-900 ">از کدام شهر درخواست خوابگاه دارید؟</label>
                    <input  id="website" name="location"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                            required/>
                </div>
                <div>

                    <label for="visitors"
                           class="block mb-2 text-sm font-medium text-gray-900 ">خوابگاه مقصد</label>

                    <select name="but"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                             id="visitors">
                        {% for item in buts %}
                            <option value="{{ item.0 }}">{{ item.0 }} ---- {{ item.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-6">
                <label for="confirm_password"
                       class="block mb-2 text-sm font-medium text-gray-900 ">شماره تماس والدین</label>
                <input type="tel" id="confirm_password" name="parent"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                       placeholder="09*********" required/>
            </div>

            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">
                ثبت درخواست
            </button>
        </form>

        <!--end of test login form-->


    </div>
    <footer class="w-full bg-blue-950 mt-20">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">دسترسی سریع
                        </h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="https://flowbite.com/" class="hover:underline">قوانین و مقررات</a>
                            </li>
                            <li>
                                <a href="https://tailwindcss.com/" class="hover:underline">اخبار</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">تماس با ما
                        </h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <p>جناب آقای ابراهیم لطفی</p>
                            </li>
                            <li class="mb-4">
                                <p>کارشناس امور خوابگاه ها</p>
                            </li>
                            <li class="mb-4">
                                <p>۰۱۱-۴۴۴۴۲۱۳۵ (داخلی ۱۴۹) <br> ۰۹۱۱-۸۵۳۴۶۷۷</p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col justify-center ">
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">لوکیشن</h2>
                        <iframe class="max-w-40 max-h-40"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3209.0843669921946!2d52.35405986117578!3d36.45551737246249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8fbd527040a94b%3A0xe9dd3370dd7e561f!2z2K_Yp9mG2LTar9in2Ycg2KrYrti12LXbjCDZgdmG2KfZiNix24zigIzZh9in24wg2YbZiNuM2YYg2KLZhdmE!5e0!3m2!1sfa!2s!4v1737664744386!5m2!1sfa!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">آدرس دفتر مرکزی خوابگاه ها</h2>
                        <ul class="text-gray-500 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <p>آمل, خیابان طالقانی, اباذر ۳۵ - ساختمان مرکزی</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
            <div class="sm:flex sm:items-center sm:justify-between">
                <div class="flex mt-4 sm:justify-center sm:mt-0">
                </div>
            </div>
        </div>
    </footer>

</div>
</body>


</body>


</html>